@import './variables.module.scss';

.mainLoginSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 79vh;
    margin: 2em;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);



    .leftBlock {
        margin: 2em;
        flex: .5;
        padding: 40px 0;
        background-color: white;
        border: 2px solid rgb(243, 243, 243);
        border-radius: 17px;

    }
    
    .rightBlock {
        flex:.5;
        height: 100%;
        margin: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .rightTitle {
            color: #3f3d56;
        }
    }
}

@media screen and (max-width: 800px) {
    .mainLoginSection  {
        flex-direction: column;

        .leftBlock {
            padding: 40px 30px;
        }

        .rightBlock {
            display: none;
        }
    }
}

