@import "./variables.module.scss";

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .leftBlockContainer {
    flex: 0.7;
    //background-color: white;
    height: 100vh;
    margin: 30px;
    

    .aboutSection {
      margin-top: 10px;
      padding: 5px;
      border-radius: 10px;
      background-color: white;
      .titleBlock {
        h2 {
          margin: 15px;
          color: $dark-gray;
        }
        
      }
      .bodyBlock {
        .about {
          margin: 15px;
        }
        .interests {
          h3 {
            margin: 15px;
            color: $dark-gray;
          }
        }
      }
    }

    .myfeedSection {
      margin-top: 10px;
      padding: 5px;
      border-radius: 10px;
      background-color: white;
      .titleBlock {
        h2 {
          margin: 15px;
          color: $dark-gray;
        }
      }
      .latestPostsBlock {
      }
    }
  }

  //!

  .rightBlockContainer {
    margin: 30px;
    flex: 0.3;
    //background-color: white;
    height: 100vh;
    width: auto;

    .announcementsSection {
      position: relative;
      width: auto;
      height: 270px;
      background-color: white;
      border-radius: 10px;

      img {
        object-fit: cover;
      }
    }

    .peopleYouMayKnowSection {
      margin-top: 10px;
      padding: 5px;
      border-radius: 10px;
      background-color: white;
      .titleBlock {
        h2 {
          margin: 15px;
          color: $dark-gray;
        }
      }
    }

    .blogSection {
      margin-top: 10px;
      padding: 5px;
      border-radius: 10px;
      background-color: white;
      .titleBlock {
        h2 {
          margin: 15px;
          color: $dark-gray;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .profileContainer {
    flex-direction: column;
    .leftBlockContainer {
      flex: 1;
      .mainSection {
        .backgroundImageContainer {
          .profileImageContainer {
          }
        }
      }
    }
    .rightBlockContainer {
      display: none;
    }
  }
}
