@import '../../../styles/variables.module.scss';

.profileContainer {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid lightblue;

    img {
        border-radius: 50%;
    }
}