@import '../styles/variables.module.scss';

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $main-background;
    position: sticky;
    top: 0;
    width: 100%;

    .logo {
      cursor: pointer;
      margin: 10px;
    }

    .activeNavLink {
      color: darkgray;
    }

    .navLinks {
      display: flex;
      display: none;
      position:absolute;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .navLink {
        color: red;
      }
    }
}