@import '../styles/variables.module.scss';

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $main-background;

    .logo {
      cursor: pointer;
      margin: 10px;
    }

    .activeNavLink {
      color: darkgray;
    }

    .navLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .navLink {
        color: red;
      }
    }
}