@import "../../styles/variables.module.scss";

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $main-background;
  position: sticky;
  top: 0;
  width: 100%;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 5px 5px 5px #ebebeb, -5px -5px 5px #ffffff;
  .logo {
    cursor: pointer;
    margin: 10px;
  }

  .activeNavLink {
    color: $main-green;
    font-weight: 700;
    font-size: 16px;
  }

  .navLinks {
    display: none;
    position: absolute;

    .navlink {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:hover {
        cursor: pointer;
        color: black;
      }

      a {
        font-size: 12px;
        color: #808080;
        font-weight: 500;
      }
    }

  }

  .ProfileNameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .profilePicture {
      display: unset;

      &:hover {
        cursor: pointer;
      }
    }
    .username {
      margin-right: 10px;
      display: unset;
    }
  }
}

@media screen and (min-width: 680px) {
  .navBar {
    height: 10vh;
    .navLinks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      flex-grow: 0.3;
    }
    .navBurger {
      display: none;
    }
    .profileNameContainer {
        display: flex;
        align-items: center;
        justify-content: center;

      .profilePicture {
        display: unset;        
      }
      .username {
        display: unset;
        color: $dark-gray;
      font-weight: 700;
      font-size: 16px;
      }
    }
  }
}
