.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .navLink {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2em  1em;
        &:hover {
            cursor: pointer;
        }
    }
}