.loginFormContainer {
    margin: 2em;
    position: relative;
    

    .loginTitle {
        left: 0%;
        bottom: 100%;
        position: absolute;

        .titleText {
            color: lightgray;
        }
    }
}

@media screen and (max-width: 800px) {
    .loginFormContainer {
        .loginTitle {
            size: 80%;
            left: 2%;

        }
    }
}

@media screen and (max-width: 520px) {
    .loginFormContainer {
        .loginTitle {
            display: none;
        }
    }
}