.registerFormContainer {
    margin: 2em;
    position: relative;
    

    .registerTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0%;
        bottom: 100%;
        position: absolute;

        .titleText {
            color: lightgray;
        }
    }


}

.registerFormContainer {
    .box {
        .invisibleInput {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .registerFormContainer {
        .registerTitle {
            size: 80%;
            left: 11%;

        }
    }
}

@media screen and (max-width: 520px) {
    .registerFormContainer {
        .registerTitle {
            display: none;
        }
    }
}